@model CreateArticleCommand
@{
    ViewBag.TopicTags = Enum.GetNames(typeof(TopicTags))
        .Select(tag => new SelectListItem() { Text = tag, Value = tag });
}
<section>
    <h1 class="text-center">Post article</h1>
    <form method="post" id="create-form" enctype="multipart/form-data" class="fs-6">
        <div class="mb-3">
            <label asp-for=Title></label><br>
            <input asp-for=Title class="form-control">
            <span asp-validation-for=Title class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for=TopicTag.Tag></label><br>
            <select class="form-select" asp-for=TopicTag.Tag asp-items=@ViewBag.TopicTags>
                <option value="">Select</option>
            </select>
        </div>
        <div class="mb-3">
            <label asp-for=Description></label><br>
            <input asp-for=Description class="form-control">
            <span asp-validation-for=Description class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for=Image class="form-label">Upload title image (.jpeg).</label>
            <input class="form-control mb-2" asp-for=Image />
            <span asp-validation-for=Image class="text-danger"></span>
        </div>
        <label asp-for="Content">Content</label>
        <div class="mb-3">
            <textarea class="form-control pt-2" asp-for="Content"></textarea>
            <span asp-validation-for=Content class="text-danger"></span>
        </div>
        <div class="mb3 bg-danger rounded text-white" asp-validation-summary="All">
        </div>
        <div class="mb-3 mt-3 justify-content-center d-flex gap-2">
            <button type="submit" class="btn btn-lg btn-success mb-3">Post</button>
        </div>
    </form>
</section>
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" integrity="sha512-FOhq9HThdn7ltbK8abmGn60A/EMtEzIzv1rvuh+DqzJtSGq8BRdEN0U+j0iKEIffiw/yEtVuladk6rsG4X6Uqg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}